# Composer
/vendor/
composer.lock

# Environment variables
.env
.env.local
.env.*.local

# IDE-specific files
.idea/         # JetBrains (PHPStorm, etc)
.vscode/       # VS Code
*.iml          # Eclipse/IntelliJ
.buildpath
.project
.settings/

# Temporary files and logs
/tmp/
/var/log/
*.log
*.sql          # Database dumps
*.sqlite
/cache/
/build/
/public/build/ # Common build output directory

# Operating System files
.DS_Store      # macOS
Thumbs.db      # Windows
ehthumbs.db    # Windows
[Dd]esktop.ini # Windows

# Session files
/var/sessions/